.likes {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 1rem;
}

.likes button {
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
}

.likes button:hover svg > * {
  fill-opacity: 1;
  stroke: #f31;
  stroke-width: 2;
  outline: none;
}

.likes span {
  font-family: var(--type-first);
  font-size: 1.2rem;
  margin-right: .5rem;
  font-weight: 600;
  color: #333;
}


.likesOpacity button:hover svg > * {
  fill-opacity: 0.3;
  stroke: #f31;
  stroke: none;
  outline: none;
}

.likesOpacity button {
  background: transparent;
  border: 1px solid transparent;
  outline: none;
}

.curtidas.likes button:hover svg > * {
    fill-opacity: 0.79;
    stroke: #f31;
    stroke-width: 0;
  }

  .curtidas.likes span:nth-child(1) {
    font-size: .875rem;
    font-weight: normal;
    color: pink;
  }

  .curtidas.likes span:nth-child(2) {
    font-size: 1rem;
    font-weight: normal;
    margin-left: 1rem;
    color: yellow;
  }

